

<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" a="123" class="box-footer clearfix" dm="100">
			  
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
   $(function(){
	 //  $("#pageId").load("doPageUI",function(){
	 //   doGetObjects();
     //});
	 //上面写法的简化形式
	 $("#pageId").load("doPageUI",doGetObjects);
	 //查询按钮事件注册
	 $(".input-group-btn")
	 .on("click",".btn-search",doQueryObjects)
	 .on("click",".btn-delete",doDeleteObjects)
	 //全选checkbox事件注册
	 $("#checkAll").change(doChangeTBodyCheckBoxState)
	 //body中checkbox事件注册
	 //采用如下注册方式不可以，为什么呢？(因为页面加载完成以后，tbody中的checkbox对象还不存在)
	 //$(".cBox").change(doChangeTHeadCheckBoxState);
	 //在tbodyId对应的对象上注册change事件，当点击tbodyId对象内容的cBox元素时，执行事件处理函数
	 $("#tbodyId").on("change",".cBox",doChangeTHeadCheckBoxState)
   });
   
   
   //修改thead中checkbox对象状态
   function doChangeTHeadCheckBoxState(){
	  //1.设置thead中checkbox对象的初始状态
	  var flag=true;//假设为选中状态。
	  //2.对tbody中所有checkbox对象的状态进行逻辑与
	  //方法1
	 // $("#tbodyId input:checkbox")
	 // .each(function(){
		//  flag=flag&&$(this).prop("checked");
	  //});
	  
	  //方法2
	  $("#tbodyId input:checkbox")
	  .each(function(index){
		  if(!$(this).prop("checked")){
			  flag=false;
			  return false;
		  }
	  })
	  //3.设置thead中checkbox对象的状态
	  $("#checkAll").prop("checked",flag);
   } 
   
   
   //修改tbody中checkbox对象状态
   function doChangeTBodyCheckBoxState(){
	   //1.获得thead中checkbox对象状态
	   var flag=$(this).prop("checked");
	   //2.修改tbody中checkbox对象状态
	   $("#tbodyId input[type=checkbox]").prop("checked",flag);
   }
   
   //获取选中的记录id
   function doGetCheckedIds(){
	   //1.定义一个数组用于存储选中的多个记录id
	   var idArray=[];
	   //2.获取所有选中checkbox对象的id值并存储到数据
	   $("#tbodyId input[type=checkbox]")
	   //迭代所有checkbox对象
	   .each(function(){
		   if($(this).prop("checked")){//判定checkbox对象是否选中了
			   idArray.push($(this).val());//将checkbox对象的value值存储到数组
		   }
	   });
	   //3.返回数组
	   return idArray;
   }
   //执行删除操作
   function doDeleteObjects(){
	   debugger
	   //1.获取选中记录的id,并构建请求参数。
	   var checkedIds=doGetCheckedIds();//[1,2,3,4]
	   if(checkedIds.length==0){
		   alert("请先选择");
		   return;
	   }
	   var params={"ids":checkedIds.toString()};//{ids:"1,2,3"}
	   if(!confirm("您确定删除吗?"))return;
	   //2.定义请求url
	   var url="log/doDeleteObjects";
	   //3.发送异步请求执行删除操作
	   $.post(url,params,function(result){
		   if(result.state==1){
			   alert(result.message);
			   //先这样刷新
			   ///doGetObjects();
			   doRefreshAfterDelete();
		   }else{
			   alert(result.message);
		   }
	   })
   }
   //删除以后的刷新操作
   function doRefreshAfterDelete(){
	   //1.判定是否是最后一页，假如是最后一页我们需要进行特殊处理。
	   var pageCurrent=$("#pageId").data("pageCurrent");
	   var pageCount=$("#pageId").data("pageCount");
	   var checked=$("#checkAll").prop("checked");
	   if(pageCurrent==pageCount&&pageCurrent!=1&&checked){
		   pageCurrent--;
		   $("#pageId").data("pageCurrent",pageCurrent);
	   }
	   //2.重新执行查询
	   doGetObjects();
   }
   //基于用户名执行日志信息的查询
   function doQueryObjects(){
	   //1.对页码进行初始化
	   $("#pageId").data("pageCurrent",1);
	   //2.执行查询(重用doGetObjects)
	   doGetObjects();
   }
   //异步获取用户行为日志信息
   function doGetObjects(){
	  $("#checkAll").prop("checked",false);
	  debugger
	  //1.定义请求参数 
	  var pageCurrent=$("#pageId").data("pageCurrent");
	  if(!pageCurrent)pageCurrent=1;//当没有值时，默认为第一页
	  //参数拼接方法1
	  //var params="pageCurrent="+pageCurrent;
	  //var username=$("#searchNameId").val();
	  //if(username)params=params+"&username="+username;
	  //参数拼接方法2
	  var params={"pageCurrent":pageCurrent};
	  var uname=$("#searchNameId").val();
	  if(uname)params.username=uname;
	  //2.定义请求url
	  var url="log/doFindPageObjects";
	  //3.发送异步请求处理数据
	  $.getJSON(url,params,function(result){
		  doHandleQueryResult(result);
	  })
   }
   //处理查询结果
   function doHandleQueryResult(result){//JsonResult (state==1表示正常,..)
	   //console.log("result",result);
	   if(result.state==1){//正常
		 //1.将result中的日志记录呈现在页面上的tbody位置
		 doSetTableBodyRows(result.data.records);//result.data.records表示日志记录
		 //2.将result中的分页信息呈现的页面的pageId位置
		 doSetPagination(result.data);//pageObject
	   }else{//error
		 //alert(result.message);  
	     doHandleQueryError(result.message);
	   }
   }
   //处理查询失败等相关问题
   function doHandleQueryError(message){
	   //1.设置tbody位置的内容
	   $("#tbodyId").html(`<tr><td colspan=7>${message}</td></tr>`);
	   //2.设置分页信息
	   var page={"pageCount":0,"rowCount":0,"pageCurrent":1}
	   doSetPagination(page);
   }
   
   //将用户行为日志呈现在tbody位置
   function doSetTableBodyRows(records){
	   //1.获取tbody对象，并清空原有内容
	   var tBody=$("#tbodyId");
	   tBody.empty();
	   //2.迭代records记录，并将结果追加到tbody中
	   for(let i=0;i<records.length;i++){
		   tBody.append(doCreateRow(records[i]));
	   }
	   
   }
   //创建行
   function doCreateRow(row){
	   return `<tr>
	            <td><input type='checkbox' class='cBox' value='${row.id}'></td>
	            <td>${row.username}</td>
	            <td>${row.operation}</td>
	            <td>${row.method}</td>
	            <td>${row.params}</td>
	            <td>${row.ip}</td>
	            <td>${row.time}</td>
	           </tr>`;
   }
   
   
   
   
   
</script>





